<% content_for :title, t(".title") %>
<% content_for :sidebar_current, "resignation" %>

<%= form_with model: @dashboard_resignation, url: dashboard_resignation_path do |f| %>
  <%= f.model_base_error %>

  <div class="mb-3">
    <%= f.label :reason, class: %w[form-label] %>
    <%= f.text_field :reason, class: %w[form-control], autofocus: true %>
    <%= f.invalid_feedback :reason %>
  </div>

  <div class="form-check mb-3">
    <%= f.check_box :accept, class: %w[form-check-input] %>
    <%= f.label :accept, class: %w[form-check-label] %>
    <%= f.invalid_feedback :accept %>
  </div>

  <%= f.submit class: %w[btn btn-primary] %>
<% end %>